:root {
    --bg-color-night: #000;
    --main-color-night: #fff;
    --second-color-night: #222;
    --glowing-color-night: #9326ea;
}

.night {
    background-color: var(--bg-color-night);
    animation: glow 5s linear infinite;
}



@keyframes glow {
    0%, 5%, 10.1%, 15.1%, 25.1%, 45%, 70.1%, 90%, 100% {
        color: var(--second-color-night);
        text-shadow: 0 0 0 #222;
    }

    5.1%, 10%, 15.2%, 25%, 45.1%, 70%, 90.1%, 95% {
        color: var(--main-color-night);
        text-shadow:
            0 0 5px var(--glowing-color-night),
            0 0 10px var(--glowing-color-night),
            0 0 20px var(--glowing-color-night),
            0 0 40px var(--glowing-color-night),
            0 0 80px var(--glowing-color-night),
            0 0 160px var(--glowing-color-night);
    }
}