@import '../common/normalize.css';

:root {
    --bg-color: #000;
    --main-color: #9326ea;
    --time-font-size: 48px;
    --date-font-size: 68px;
}

body {
    background-color: var(--bg-color);
    font-family: Montserrat, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.clock {
    min-width: 300px;
    color: var(--main-color);
    text-shadow:
        0 0 5px var(--main-color),
        0 0 10px var(--main-color),
        0 0 20px var(--main-color),
        0 0 0.5em var(--main-color),
        0 0 1em var(--main-color);
}

.clock__time {
    display: flex;
    justify-content: space-between;
    font-size: var(--time-font-size);
}

.clock__date {
    font-size: var(--date-font-size);
    margin-top: -10px;
}