@import '../common/normalize.css';
@import '../common/themes/day.css';
@import '../common/themes/night.css';

:root {
    --time-font-size: 48px;
    --date-font-size: 68px;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.clock {
    min-width: 300px;
}

.clock__time {
    display: flex;
    justify-content: space-between;
    font-size: var(--time-font-size);
}

.clock__date {
    font-size: var(--date-font-size);
    margin-top: -10px;
}